include LICENSE
include MANIFEST.in
include README.rst
recursive-include leonardo_theme_kkadavy/static *
recursive-include leonardo_theme_kkadavy/locale *
recursive-include leonardo_theme_kkadavy/templates *