{% extends widget.get_base_template %}

{% block content %}
<style type="text/css">
.ih-item.square {
    width: 100%;
    margin-bottom: 30px;
    margin: 9px auto;
    max-height: 190px;
    max-width: 300px;
    border: 7px solid rgba(97, 104, 115, 0.5)!important;
    box-shadow: 0px 0px 18px rgb(0, 0, 0);
}
.ih-item.square .img {
    height: 100%;
}
</style>
{% block items %}
{% for row in widget.get_rows %}
    <div class="row">
        {% for item in row %}
        <div class="span-img-knedliky">
            <!-- normal -->
            <div class="ih-item square colored effect3 bottom_to_top">
                <a href="{{ item.web_address }}">
                    <div class="img"><img src="{{ item.image.url }}" alt="img"></div>
                    <div class="info">
                      <h3>{{ item.translation.name }}</h3>
                      <p>knedlíky</p>
                    </div>
                </a>
            </div>
            <!-- end normal -->
        </div>
        {% endfor %}
        {% for item in row %}
        <div class="span-img-knedliky">
            <!-- normal -->
            <div class="ih-item square colored effect3 bottom_to_top">
                <a href="{{ item.web_address }}">
                    <div class="img"><img src="{{ item.image.url }}" alt="img"></div>
                    <div class="info">
                      <h3>{{ item.translation.name }}</h3>
                      <p>knedlíky</p>
                    </div>
                </a>
            </div>
            <!-- end normal -->
        </div>
        {% endfor %}
    </div>
{% endfor %}
{% endblock %}
{% endblock %}
