{% extends widget.get_base_template %}
{% load thumbnail %}

{% block content %}
<style type="text/css">
figure.effect-marley h2, figure.effect-marley p {
    position: absolute;
    right: 30px;
    left: 30px;
    color: white;
    padding: 0;
}
figure.effect-marley h2 {
    word-spacing: 12px;
    text-align: center;
}
.grid figure{
    height: 100%;
    background: transparent;
}
.grid figure img {
    opacity: 1;
}
</style>
{% block items %}
<!-- Classic ************************************ -->
<!-- <div class="row">
{% for row in widget.get_rows %}
    <div class="col-xs-12 col-md-6">
        {% for item in row %}
        <div class="thumbnail knedliky">
            <a href="{{ item.web_address }}">
                {% thumbnail item.image.file widget.thumb_geom format="PNG" as image %}
                    <img class="img-responsive preview-img-swipe" itemprop="thumbnail" src="{{ image.url }}" alt="" />
                {% endthumbnail %}
            </a>
            <div class="caption">
                <a href="{{ item.web_address }}"><h3 class="knedliky-heading">{{ item.translation.name }}</h3></a>
                <button class="btn btn-knedliky-thumb" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zobrazit produkty</button>
            </div>
        </div>
        {% endfor %}
    </div>
{% endfor %}
</div> -->

<!-- Effects ************************************* -->
<div class="grid">
{% for item in widget.get_items %}
    <figure class="effect-marley">
        {% thumbnail item.image.file widget.thumb_geom format="PNG" as image %}
        <img class="img-responsive preview-img-swipe" itemprop="thumbnail" src="{{ image.url }}" alt="" />
        {% endthumbnail %}
        <figcaption>
            <h2>{{ item.translation.name }}</h2>
            <a href="{{ item.web_address }}">View more</a>
        </figcaption>
    </figure>
{% endfor %}
</div>
{% endblock %}
{% endblock %}
