{% extends widget.get_base_template %}

{% block content %}
{% block items %}
{% for row in widget.get_rows %}
    {% for item in row %}
    <div class="col-sm-4">
        <!-- colored -->
        <div class="ih-item circle colored effect10 top_to_bottom"><a href="{{ item.web_address }}">
            <div class="img"><img src="{{ item.image.url }}" alt="" /></div>
            <div class="info">
                <h3>{{ item.translation.name }}</h3>
                <p>knedlíky</p>
        </div></a></div>
        <!-- end colored -->
    </div>
    {% endfor %}
{% endfor %}
{% endblock %}
{% endblock %}