{% extends widget.get_base_template %}
{% load staticfiles %}

{% block content %}

<a href="{% if request.path == '/' %}#header{% else %}/{% endif %}" class="top-page-scroll">
<img class="menu-logo" src="{% static 'img/main-logo.svg' %}">
</a><br>

<script type="text/javascript">
// jQuery for page scrolling feature - requires jQuery Easing plugin
$('a.top-page-scroll').bind('click', function(event) {
    var $anchor = $(this);
    $('html, body').stop().animate({
        scrollTop: ($($anchor.attr('href').replace("/", "")).offset().top - 10)
    }, 1500, 'easeInOutExpo');
    event.preventDefault();
});
</script>
{% endblock %}