{% extends widget.get_base_template %}

{% block content %}
{% for item in items %}
{% if item.slug == 'o-firme' %}
<div id="{{ item.slug }}" class="">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %} {{ widget.page_region }}-{{ widget.parent.slug }} section-{{ forloop.counter }}">
    {% include "widget/contextnavigation/_item.html" with item=item  %}
  </div>
</div>
{% elif item.slug == 'knedliky' %}
<div class="three_bg">
</div>
<div id="{{ item.slug }}" class="">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %} {{ widget.page_region }}-{{ widget.parent.slug }} section-{{ forloop.counter }}">
    {% include "widget/contextnavigation/_item.html" with item=item  %}
  </div>
</div>
<script type="text/javascript">
  $("#{{ item.slug }}").appendTo(".three_bg");
</script>
{% elif item.slug == 'recepty' %}
<div id="{{ item.slug }}" class="">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %} {{ widget.page_region }}-{{ widget.parent.slug }} section-{{ forloop.counter }}">
    {% include "widget/contextnavigation/_item.html" with item=item  %}
  </div>
</div>
<script type="text/javascript">
  $("#{{ item.slug }}").appendTo(".three_bg");
</script>
{% elif item.slug == 'vyroba' %}
<div id="{{ item.slug }}" class="">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %} {{ widget.page_region }}-{{ widget.parent.slug }} section-{{ forloop.counter }}">
    {% include "widget/contextnavigation/_item.html" with item=item  %}
  </div>
</div>
<script type="text/javascript">
  $("#{{ item.slug }}").appendTo(".three_bg");
</script>
{% elif item.slug == 'kontakt' %}
<div id="{{ item.slug }}" class="">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %} {{ widget.page_region }}-{{ widget.parent.slug }} section-{{ forloop.counter }}">
    {% include "widget/contextnavigation/_item.html" with item=item  %}
  </div>
</div>
<script type="text/javascript">
  $("#{{ item.slug }}").appendTo(".three_bg");
</script>
{% else %}
<div id="{{ item.slug }}" class="">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %} {{ widget.page_region }}-{{ widget.parent.slug }} section-{{ forloop.counter }}">
    {% include "widget/contextnavigation/_item.html" with item=item  %}
  </div>
</div>
{% endif %}
{% endfor %}
{% endblock %}
