{% extends widget.get_base_template %}

{% block content %}
<div class="main_container_with_bg">
{% for item in items %}
<div id="{{ item.slug }}" class="">
  <div class="container{% if item.layout == 'fluid' %}-fluid{% endif %} {{ widget.page_region }}-{{ widget.parent.slug }} section-{{ forloop.counter }}">
    {% include "widget/contextnavigation/_item.html" with item=item  %}
  </div>
</div>
{% if forloop.last %}
<script type="text/javascript">
$(function() {
  $(".main_container_with_bg").append($("#kontakt"));
});
</script>
{% endif %}
{% endfor %}
</div>
{% endblock %}
