// Vendor Components
@import "/bootstrap/scss/bootstrap";

@font-face {
    font-family: Calligraffitti;
    src: url("/static/fonts/Calligraffitti-Regular.ttf") format("opentype");
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0!important;
    overflow-x: hidden;
}

a:hover, a:focus {
    text-decoration: none;
}
    
.container-fluid {
    padding-right: 0;
}

.leonardo-region .htmltext-base-default a:hover {
    text-decoration: none;
}

.leonardo-region .htmltext-base-default a {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}

#background-video {
    position: fixed;
}

// affix

.affix {
    top: 0;
    width: 100%;
}
.affix + .container-fluid {
    padding-top: 70px;
}

#main_col_12 {
    padding: 0;
}

.blue-bg-pattern {
    background: url("/static/img/blue_full_bg.jpg");
    background-size: 100%;
    * {
        color: white;
    }
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
    height: calc(100vh - 0px);
}

.col-xs-12.contextnavigation-base-default {
    padding-left: 0;
    padding-right: 0;
}

.toolbar-image {
    width: 60%;
}

.leonardo-widget.text-center.form-base-default {
    padding: 0;
}

.order-list-btn {
    @extend .btn-block;
    background-color: #8cc63c;
    border-color: #8cc63c;
    border-radius: 0;
    transition: all 0.3s ease;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
    &:hover, &:focus {
        background-color: #639221;
        border-color: #8cc63c;
        color: #ffffff;
    }
}

.menu-logo {
    width: 124px;
    margin-top: 3px;
}

.toolbar-heading {
    width: 80%;
}

// nav

.navbar.navbar-static-top {
    background-color: #f7c247;
    border-color: #f7c247;
    margin: 0;
    height: 75px;
    margin-bottom: -4px;
    .navbar-nav {
        margin-bottom: -5px;
        > li > a {
            color: #fff;
            margin-top: 11px;
            font-weight: bold;
            padding: 21.5px 40px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            &:hover {
                background-color: #ecb533;
            }
        }
        > .open > a {
            background-color: #7a4501;
            &:hover, &:focus {
                background-color: #7a4501;
            }
        }
    }
    .navbar-nav > .active > a {
        background-color: #7a4501;
    }
}

.nav.navbar-nav {
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    float: none;
}

.navbar-collapse.collapse {
    margin-bottom: 0px;
    text-align: center;
    &.in {
        background-color: rgba(122, 69, 1, 0.9);
        padding-bottom: 20px;
    }
}

.list-knedliky {
    z-index: 5;
}

.list-knizka {
    z-index: 2;
}


// sections

.col-xs-12 .leonardo-widget {
    padding: 0;
}

#o-firme {
    padding: 78px 0px 0px 0px;
    color: #ffffff;
    font-weight: bold;
    .spokojeny-zakaznik-o-firme {
        width: 50%;
    }
    .o-firme-text-reversed {
        display: block;
    }
    form {
        .form-group {
            margin-bottom: 9px;
        }
        .form-group:nth-child(2) {
            padding-right: 4px!important;
        }
        .form-group:nth-child(3) {
            padding-left: 4px!important;
        }
        .form-group:nth-child(2), .form-group:nth-child(3) {
            width: 50%;
            padding: 0;
            display: inline-block;
        }
        .buttonHolder input {
            @extend .order-list-btn;
        }
        label {
            display: none;
        }
        .form-control {
            display: block;
            width: 100%;
            border: none!important;
            height: 34px;
            text-align: center;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857;
            font-weight: bold;
            border-radius: 1px;
            color: #1f1f1f;
            background-color: #ffffff;
        }
        ::-webkit-input-placeholder {
           color: #8cc63c!important;
        }

        :-moz-placeholder { /* Firefox 18- */
           color: #8cc63c!important;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
           color: #8cc63c!important;
        }

        :-ms-input-placeholder {  
           color: #8cc63c!important;
        }
        textarea {
            height: 170px!important;
            resize: none;
        }
    }
    .modal-header {
        border-bottom: 0px;
        .modal-title {
            font-size: 25px;
            color: #f3f3f3;
        }
    }
}

// modal form module order

.close-alert {
    float: right;
    font-size: 22px;
    margin-top: -5px;
    color: #295e86;
    font-weight: bold;
}

.btn-submit-order {
    @extend .order-list-btn;
}

#kkadavy_order_formset {
    .dynamic-form {
        select {
            height: 32px;
            padding-left: 5px;
            border-radius: 3px;
            background-color: #ffffff;
        }
        input {
            height: 32px;
            padding-left: 10px;
            border-radius: 3px;
            background-color: #ffffff;
            border: none;
        }
    }
    td, th {
        border-top: 0px!important;
    }
    th, label {
        color: #ffffff;
    }
    .add-row {
        background-color: #ffffff;
        padding: 10px 25px;
        font-weight: bold;
        color: #000000;
        border-radius: 6px;
        border: 1px solid #333333;
        transition: all 0.2s ease;
        &:hover {
            background-color: #d6d6d6;
        }
    }
    .remove-btn-formset {
        font-size: 29px;
        color: #d66a6a;
        margin-top: 3px;
        transition: all 0.2s ease;
        &:hover {
            color: #c34444;
        }
    }
    ul.errorlist li {
        color: #a93d33;
    }
    .help-icon {
        color: #ffffff;
        margin-left: 10px;
    }
    .nav-tabs li.required a:after, .form-group.required > label:after,
    .form-field.required > label:after {
        color: #9f3632;
    }
}

.modal-header .close {
    font-size: 22px;
    text-shadow: none;
    opacity: 1;
    &:hover {
        color: #CCC!important;
    }
}

.modal-footer {
    border-top: none;
}

// end modal form module order

#knedliky {
    padding-bottom: 50px;
    padding-top: 100px;
    display: table;
    width: 100%;
    .container-fluid {
        display: table-cell;
        vertical-align: middle;
    }
}

#recepty {
    display: table;
    width: 100%;
    .container-fluid {
        vertical-align: middle;
        height: calc(71vh - -160px);
        .leonardo-region {
            margin-top: -220px;
        }
    }
}

#vyroba {
    padding: 0;
    .leonardo-content.htmltext-content-default {
        p {
            margin-bottom: 30px;
            padding-top: 150px;
        }
    }
}

.main_container_with_bg {
    background: url('/static/img/full_page_bg.jpg');
    background-size: 100%;
}

/*
div#canvas {
    background: url(/static/img/full_page_bg.jpg);
    background-size: 100%;
}
*/

.span-img-knedliky {
    float: left;
    width: 25%;
    padding-right: 9px;
    padding-left: 9px;
}

// navbar toggle

.navbar-toggle {
    margin-top: 13px;
    background-color: #7a4501;
    .icon-bar {
        background-color: #f7c247;
    }
}

// nav pills

.col-xs-12 .treenavigation-base-default {
    padding: 0;
}

.template-pills.treenavigation-content-pills {
    background-color: #7a4501;
    height: 100%;
    .nav-pills {
        display: inline-block;
        li {
            a {
                color: white;
                border-radius: 0;
                font-weight: bold;
                transition: color 0.3s ease;
                padding: 14px 30px;
                margin-top: 6px;
                &:hover {
                    color: #f7c247;
                    background-color: transparent;
                }
            }
            &.active a {
                color: #f7c247!important;
                background-color: transparent;
            }
        }
    }
}

.template-pills.treenavigation-content-pills .nav-pills li a:focus {
    background-color: inherit;
}

// dropdown menu

.navbar-nav > li {
    > a:focus {
        background-color: transparent;
        outline: none;
    }
    > .dropdown-menu {
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        width: 100%;
        padding: 0;
        margin-top: -1px;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #7a4501;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
        li {
            display: block;
            a {
                font-size: 16px;
                color: white;
                padding: 7px 38px;
                transition: color 0.3s ease;
                font-weight: bold;
            }
            a:hover {
                background-color: transparent;
                color: #f7c247;
            }
        }
        > .active > a {
            color: #f7c247!important;
            background-color: transparent;
        }
    }
}

.nav > li.dropdown.open {
    position: static;
    .dropdown-menu {
        display:table;
        text-align: center;
        border: none;
    }
}

.navbar-nav > li > .dropdown-menu li {
    display: inline-block;
}

// header nav

header {
    background-image: url("/static/img/uvodni_fotka.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: table;
    width: 100%;
    text-align: center;
    .pageiconlink-content-default {
        padding-top: 45px;
    }
    .pageiconlink-base-default {
        display: none;
    }
    .nav.navbar-nav li {
        width: 125px;
        margin-top: -1px;
        a {
            color: white;
            font-weight: bold;
            transition: color 0.3s ease;
            font-size: 17px;
            padding-bottom: 0;
            padding-top: 30px;
            &:hover {
                background-color: transparent;
                color: #f7c247;
            }
        }
    }
    
}

.responsive_menu {
    @extend .container;
}

.navbar-collapse.collapse.in ul li a {
    padding: 16px;
}

// footer

footer {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    background: url("/static/img/blue_full_bg.jpg");
    background-size: cover;
    padding: 20px 10px;
    margin-bottom: -5px;
    .container-fluid div.leonardo-region {
        background: inherit;
        padding: 20px 10px;
        margin-bottom: -5px;
    }
    .btn-social-icon {
        margin-top: 30px;
        margin-left: -8px;
        > :first-child {
            font-size: 37px;
        }
    }
    .nav > li > a {
        color: #ffffff;
        padding: 6px;
        font-size: 28px;
        border-radius: 5px;
        font-weight: bold;
        transition: all 0.4s ease;
        background-color: inherit;
        width: 48px;
        text-align: center;
        &:hover {
            color: #ffffff;
            background-color: inherit;
            box-shadow: 0px 0px 9px 1px #ffffff;
        }
    }
    form {
        .form-group {
            margin-bottom: 9px;
        }
        .form-group:nth-child(2) {
            padding-right: 4px!important;
        }
        .form-group:nth-child(3) {
            padding-left: 4px!important;
        }
        .form-group:nth-child(2), .form-group:nth-child(3) {
            width: 50%;
            padding: 0;
            display: inline-block;
        }
        .buttonHolder input {
            @extend .order-list-btn;
        }
        label {
            display: none;
        }
    }
    .form-control {
        display: block;
        width: 100%;
        border: none!important;
        height: 34px;
        text-align: center;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857;
        font-weight: bold;
        border-radius: 1px;
        color: #1f1f1f;
        background-color: #ffffff;
    }
    ::-webkit-input-placeholder {
       color: #8cc63c!important;
    }

    :-moz-placeholder { /* Firefox 18- */
       color: #8cc63c!important;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
       color: #8cc63c!important;
    }

    :-ms-input-placeholder {  
       color: #8cc63c!important;
    }
    textarea {
        height: 170px!important;
        resize: none;
    }
    .modal-header {
        border-bottom: 0px;
        .modal-title {
            font-size: 25px;
            color: #f3f3f3;
        }
    }
    button.close {
        color: #6f6f6f;
        font-size: 30px;
        opacity: 0.7;
        margin-top: -5px;
    }
    .template-default.form-content-default {
        margin-top: -20px;
        .widget-title {
            color: #8cc63c;
            font-size: 20px;
        }
    }
    .knedliky-footer-badge {
        display: block;
    }
}

.thumb a img {
    width: 35px;
}

.modal-lg {
    width: 1000px;
}

// smartphones view
@media only screen and (max-width: 986px) {
    header {
        background-image: url("/static/img/uvodni_fotka_mobile.jpg")!important;
        .treenavigation-content-kkadavy_menu {
            display: none;
            .navbar-collapse.collapse {
                display: none;
            }
        }
        .pageiconlink-base-default {
            display: block;
        }
        .toolbar-image {
            width: 100%;
            margin-bottom: 30px;
        }
        .toolbar-heading {
            width: 100%;
        }
    }
    .responsive_menu {
        @extend .container-fluid;
    }
    .responsive_menu.container-fluid {
        .treenavigation-base-default {
            margin-top: -60px;
            padding: 0;
        }
        .siteheading-base-default {
            z-index: 50;
        }
    }
    .span-img-knedliky {
        float: left;
        width: 100%;
    }
    .ih-item.circle {
        margin-left: 0%!important;
    }
    footer {
        background-image: none!important;
        background-color: #06273e;
    }
    .linkmenu-content-recepty .col-sm-4 {
        top: 125px;
    }
    #kkadavy_order_formset {
        .dynamic-form {
            select {
                width:  100%;
            }
            input {
                width:  100%;
            }
        }
    }
    .main_container_with_bg {
        background: url('/static/img/full_bg_mobile.jpg')!important;
        background-repeat: repeat;
    }
    figure.effect-marley h2 {
        top: 8px!important;
    }
    .spokojeny-zakaznik-o-firme {
        width: 100%!important;
    }
    .o-firme-text-reversed, .knedliky-footer-badge {
        display: none!important;
    }
    .modal-lg {
        width: 100%;
    }
}

// scrollbar

body::-webkit-scrollbar {
    width: 5px;
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: #0a0a09;
    border: 1px solid #0a0a09;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
    background-color: #ffffff;
}

// selection

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgb(247, 194, 71) none repeat scroll 0% 0%;
    color: #000000;
}
