// Vendor Components
@import "/bootstrap/scss/bootstrap";

@font-face {
    font-family: Calligraffitti;
    src: url("/static/fonts/Calligraffitti-Regular.ttf") format("opentype");
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #333;
    margin: 0;
    padding: 0!important;
    overflow-x: hidden;
}

a:hover, a:focus {
    text-decoration: none;
}
    
.container-fluid {
    padding-right: 0;
}

header {
    display: table;
    width: 100%;
    background: #ffffff;
    background-size: cover;
    text-align: center;
}

#background-video {
    position: fixed;
}

#main_col_12 {
    padding: 0;
    background-color: #ffffff;
}

.intro-body {
    display: table-cell;
    vertical-align: middle;
    height: calc(100vh - 0px);
    background: url('/static/img/pattern_overlay.png');
}

.col-xs-12.contextnavigation-base-default {
    padding-left: 0;
    padding-right: 0;
}

.toolbar-image {
    width: 60%;
}

.leonardo-widget.text-center.form-base-default {
    padding: 0;
}

.order-list-btn {
    background-color: #8cc63c;
    border-color: #8cc63c;
    border-radius: 0;
    transition: all 0.3s ease;
    font-family: Arial;
    font-weight: bold;
}

.order-list-btn:hover {
    background-color: #639221;
    border-color: #263e04;
}

.order-list-btn:focus {
    background-color: #8cc63c;
    border-color: #8cc63c;
}

.menu-logo {
    width: 124px;
    margin-top: 3px;
}

.toolbar-heading {
    width: 80%;
}

header .pageiconlink-content-default {
    padding-top: 45px;
}

// nav

#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar.navbar-static-top {
    background-color: #f7c247;
    border-color: #f7c247;
    margin: 0;
    height: 75px;
    margin-bottom: -4px;
    .navbar-nav {
        margin-bottom: -5px;
        > li > a {
            color: #fff;
            margin-top: 11px;
            font-weight: bold;
            padding: 21.5px 40px;
            &:hover {
                background-color: #ecb533;
            }
        }
        > .open > a {
            background-color: #7a4501;
            &:hover, &:focus {
                background-color: #7a4501;
            }
        }
    }
    .navbar-nav > .active > a {
        background-color: #7a4501;
    }
}

.nav.navbar-nav {
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
    float: none;
}

.navbar-collapse.collapse {
    margin-bottom: 0px;
    text-align: center;
    &.in {
        background-color: rgba(122, 69, 1, 0.9);
        padding-bottom: 20px;
    }
}

.leonardo-region-preview .linkmenu-base-default {
    z-index: 5;
}

// sections

.fullSection {
    padding-top: 50px;
}

#o-firme {
    background-image: url('/static/img/pozadi_ofrime.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 105%;
    padding: 40px 0px;
    padding-top: 78px;
}

#knedliky {
    padding-bottom: 50px;
    padding-top: 80px;
}

// navbar toggle

.navbar-toggle {
    margin-top: 18px;
    margin-bottom: 8px;
    background-color: #7a4501;
    .icon-bar {
        background-color: #f7c247;
    }
}

// nav pills

.col-xs-12 .treenavigation-base-default {
    padding: 0;
}

.template-pills.treenavigation-content-pills {
    background-color: #7a4501;
    height: 47px;
    .nav-pills {
        display: inline-block;
        li {
            a {
                color: white;
                border-radius: 0;
                font-weight: bold;
                transition: color 0.3s ease;
                padding: 14px 30px;
                &:hover {
                    color: #f7c247;
                    background-color: transparent;
                }
            }
            &.active a {
                color: #f7c247!important;
                background-color: transparent;
            }
        }
    }
}

.template-pills.treenavigation-content-pills .nav-pills li a:focus {
    background-color: inherit;
}

// dropdown menu

.navbar-nav > li {
    > a:focus {
        background-color: transparent;
        outline: none;
    }
    > .dropdown-menu {
        text-align: center;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        display: none;
        float: left;
        width: 100%;
        padding: 0;
        margin-top: -1px;
        list-style: none;
        font-size: 14px;
        text-align: left;
        background-color: #7a4501;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        background-clip: padding-box;
        li {
            display: block;
            a {
                font-size: 16px;
                color: white;
                padding: 7px 38px;
                transition: color 0.3s ease;
                font-weight: bold;
            }
            a:hover {
                background-color: transparent;
                color: #f7c247;
            }
        }
        > .active > a {
            color: #f7c247!important;
            background-color: transparent;
        }
    }
}

.nav > li.dropdown.open {
    position: static;
    .dropdown-menu {
        display:table;
        text-align: center;
        border: none;
    }
}

.navbar-nav > li > .dropdown-menu li {
    display: inline-block;
}

// header nav

header .pageiconlink-base-default {
    display: none;
}

.responsive_menu {
    @extend .container;
}

/* smartphones */
@media only screen and (max-width: 760px) {
    header {
        .treenavigation-content-kkadavy_menu {
            display: none;
            .navbar-collapse.collapse {
                display: none;
            }
        }
        .pageiconlink-base-default {
            display: block;
        }
        .toolbar-image {
            width: 80%;
        }
    }
    .treenavigation-content-kkadavy_menu .col-xs-12 {
        padding-bottom: 15px;
    }

    .responsive_menu {
        @extend .container-fluid;
    }

    .responsive_menu.container-fluid {
        .treenavigation-base-default {
            margin-top: -60px;
            padding: 0;
        }
        .siteheading-base-default {
            z-index: 50;
        }
    }
}


.navbar-collapse.collapse.in ul li a {
    padding: 16px;
}

header .nav.navbar-nav li a:hover {
    background-color: transparent;
    color: #f7c247;
}

header .nav.navbar-nav li {
    width: 125px;
    margin-top: -1px;
}

header .nav.navbar-nav li a {
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
    font-size: 17px;
    padding-bottom: 0;
    padding-top: 30px;
}

// fugurecaption

.grid figure {
    height: 279px;
    width: 31%;
    margin: 54px 1%;
}

figure.effect-lily h2 {
    color: #212121;
}

// footer

footer {
    display: inline-block;
    width: 100%;
    color: white;
    .container-fluid div.leonardo-region {
        background: #7a4501;
        padding: 20px 10px;
        margin-bottom: -5px;
        background-image: url("/static/img/logo_bila_final.png");
        background-size: 713px;
        background-position: 55px -90px;
        background-repeat: no-repeat;
    }
    .nav > li > a {
        color: white;
        font-weight: bold;
        &:hover {
            background-color: transparent;
        }
    }
}

.thumb a img {
    width: 35px;
}

// scrollbar

body::-webkit-scrollbar {
    width: 11px;
    background-color: #f7c247;
}

body::-webkit-scrollbar-thumb {
    background-color: #f7c247;
    border: 1px solid #7a4501;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.7);
    background-color: #ffffff;
}
